.moonshot {
  background-color: #000000;
  color: #FFFFFF;
  min-height: 100vh;
}

.moonshotBlue {
  color: #0d6efd !important;
}

.moonshotBlack {
  color: #000000 !important;
}

.moonshotWhite {
  color: #FFFFFF !important;
}

.moonshotBgBlue {
  background-color: #0d6efd !important;
}

.moonshotBgBlack {
  background-color: #000000 !important;
}

.moonshotBgWhite {
  background-color: #FFFFFF !important;
}

.reasoning {
  background-color: #000000;
  min-height: 100vh;
}

.thought {
  background-color: #FFFFFF;
}
