.highlight {
  color: #0d6efd;
}

.moonshot {
  background-color: #ffffff;
  color: #000000;
  min-height: 100vh;
}

.moonshotBlue {
  color: #0d6efd !important;
}

.moonshotBlack {
  color: #000000 !important;
}

.moonshotImage {
  margin-top: 100px;
}

.moonshotWhite {
  color: #ffffff !important;
}

.moonshotBgBlue {
  background-color: #0d6efd !important;
}

.moonshotBgBlack {
  background-color: #000000 !important;
}

.moonshotBgWhite {
  background-color: #ffffff !important;
}

.reasoning {
  background-color: #000000;
  min-height: 100vh;
}

.thought {
  background-color: #ffffff;
}
