.highlight {
  color: #0d6efd;
}

.moonshot {
  color: #000000;
  background: radial-gradient(circle at right, #0d6efd, #ffffff 35%),
    linear-gradient(to right, #000000, #ffffff);
  min-height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.moonshotBlue {
  color: #0d6efd !important;
}

.moonshotBlack {
  color: #000000 !important;
}

.moonshotImage {
  margin-top: 120px;
}

.moonshotWhite {
  color: #ffffff !important;
}

.moonshotBgBlue {
  background-color: #0d6efd !important;
}

.moonshotBgBlack {
  background-color: #000000 !important;
}

.moonshotBgWhite {
  background-color: #ffffff !important;
}

.reasoning {
  background-color: #000000;
  min-height: 100vh;
}

.thought {
  background-color: #ffffff;
}
